.confirmModal {
  width: 650px;
}

.confirmModal h1 {
  font-weight: 900;
  margin: 0 0 25px 0;
}

.buttonContainer {
  margin-top: 80px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  font-weight: 400;
}

.confirm-btn {
  background-color: #000000;
  color: #ffffff;
}

.cancel-btn {
  border: 2px solid #000000;
  color: #000000;
  background-color: #ffffff;
}

.right {
  display: flex;
  justify-content: flex-end;
}
