.event-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.img-container {
  width: 260px;
  height: 150px;
  flex-shrink: 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.desc {
  width: 100%;
}

.desc p {
  margin: 8px 0px;
  height: 57px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc h2 {
  margin: 0;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.desc span {
  font-weight: bold;
}

.date {
  color: #ff48ab;
  font-size: 18px;
}

.btn {
  font: inherit;
  width: 130px;
  font-size: 14px;
  padding: 9px 28px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}
