#forgot-password-page {
    position: absolute;
    margin-top: 130px;
    padding-left: 40px;
    font-size: large;
}

#reset-pw-link {
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 12, 168);
    border-color: rgb(235, 12, 168);
    font-size: large;
    font-weight: bold;
    border-radius: 35px;
}

#reset-pw-link a {
 color: white;
 text-decoration: none;
}

#back-to-login {
    border: 2px solid;
    border-color: rgb(235, 12, 168);
    border-radius: 35px;
    text-align: center;
    padding: 10px;
}

#back-to-login a{
    color: black;
    text-decoration: none;
}