.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.home-grid > * {
  flex: 1 1 300px; /* Adjust the desired width of each grid item */
}

.container {
  width: 100%;
  height: 464px;
  color: #ffffff;
  margin-top: 50px;
  position: relative;
}

.container img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  position: absolute;
  bottom: 40px;
  left: 0px;
}

.event-info h3 {
  margin: 0;
  font-size: 40px;
}

.event-info span {
  opacity: 0.7;
  font-size: 28px;
  font-weight: 400;
}

.herobtn {
  font-size: 19px;
  font-weight: 900;
  padding: 10px 34px;
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.location {
  margin-left: 10px;
}

.btn {
  border: 1px solid #000000;
  font-size: 19px;
  font-weight: 900;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
}
