@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding-top: 70px;
  position: relative;
}

.wrapper {
  margin-bottom: 150px;
}

.App {
  display: flex;
  flex-direction: column;
}

input,
button,
textarea {
  font: inherit;
}

input,
textarea:focus {
  outline: none;
}
