.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
}

.input-wrapper input {
  height: 42px;
  border-radius: 21px;
  padding: 9px 15px;
  color: #000000;
  /* max-width: 350px; */
}

.error {
  font-size: 14px;
  color: red;
  position: absolute;
  bottom: -17px;
}

.invalid {
  border: 2px solid #dc3545;
  min-width: 250px;
  color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  transition: all 0.3s ease;
}

.valid {
  border: 1px solid #000000;
  height: 42px;
}
