.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.form-actions a {
  text-decoration: underline;
}

.btn {
  border: 1px solid #ff48ab;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff48ab;
  padding: 10px 38px;
  height: 42px;
}

.error {
  color: red;
  font-size: 18px;
  position: absolute;
  top: 185px;
}
