#login-page {
    position: absolute;
    margin-top: 130px;
    padding-left: 40px;
    font-size: large;
    
}

#email-placeholder{
    border-radius: 35px;
    font-size: larger;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

#password-placeholder{
    border-radius: 35px;
    font-size: larger;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

#login-btn{
    margin-left: 45px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 12, 168);
    border-color: rgb(235, 12, 168);
    color: white;
    font-size: large;
    border-radius: 35px;
}

#forgot-password a{
    color: black;
}

#create-account{
    border: 2px solid;
    border-color: rgb(235, 12, 168);
    border-radius: 35px;
    text-align: center;
    padding: 10px;   
}

#create-account a{
    color: black;
    text-decoration: none;
}

#email {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#password {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

