#nav-bar {
    list-style-type: none;
    margin:0;
    padding: 14px 16px;
    overflow: hidden;
    background-color: black;
    position: absolute;
    width:100%; 
    
}

li a{
    display: block;
    color: #fff;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;  
    font-family: Arial, Helvetica, sans-serif;  
}

#ticket-blaster{
    font-size: xx-large;
    float: left;
    font-weight: bolder;
    
}

#concerts{
    float: left;
    padding-top: 15px;
}

#comedy{
    float: left;
    padding-top: 15px;
}

#account{
    float: inline-end;    
    border: 2px solid;
    border-color: rgb(235, 12, 168);
    border-radius: 35px;
    margin-top: 15px;
    
}

#login{
    float: inline-end;
    background-color: rgb(235, 12, 168);
    border-radius: 35px;
    margin-left: 10px;
    margin-right: 10px; 
    font-weight: bold;  
    margin-top: 15px; 
}

#login a{
    color: black;
}

#search{
    float: inline-end;
    padding-right: 200px;
    background-color: white;
    border-radius: 35px;
    font-weight: bold;
    margin-top: 15px;
}

#search a{
    color: black;
    
}



