.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 35px;
}

svg {
  align-self: center;
}

/* .img-container {
  width: 420px;
  height: 260px;
} */

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.modal-info {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.left h1 {
  margin: 0;
}

.left span {
  font-weight: bold;
}

.date {
  color: #ff48ab;
  font-size: 18px;
  font-weight: 700;
}

.location {
  color: #393939;
}

.right {
  width: 150px;
  height: 150px;
}

.qrcode {
  width: 100%;
  height: 100%;
}
