.container {
  margin-top: 30px;
  margin-left: 50px;
  width: 525px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-button {
  margin-top: 14px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #000000;
  padding: 10px 15px;
  color: #ff48ab;
  border-radius: 20px;
  cursor: pointer;
  height: 42px;
}

.upload-wrapper input[type="file"] {
  position: absolute;
  left: -9999px;
}

.name-email-inputs {
  width: 357px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.btn {
  border: none;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff48ab;
  padding: 10px 38px;
  height: 42px;
}

.password-input {
  width: 250px;
}

.password-input-invalid {
  width: 250px;
  font-size: 15px;
  color: red;
  position: absolute;
  bottom: -17px;
}

.submit-btn {
  margin-top: 36px;
  font: inherit;
  width: 130px;
  font-size: 16px;
  padding: 12px 26px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.style {
  font-weight: 700;
  color: #393939;
  font-size: 18px;
}

.change-password-inputs {
  margin-top: 20px;
}
