#reset-pw-page{
    position: absolute;
    margin-top: 130px;
    padding-left: 40px;
    font-size: large;
}

#reset-pw-btn{
    margin-top: 15px;
    padding-left: 77px;
    padding-right: 77px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 12, 168);
    border-color: rgb(235, 12, 168);
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 35px;
}

#back-to-login{
    border: 2px solid;
    border-color: rgb(235, 12, 168);
    border-radius: 35px;
    text-align: center;
    padding: 10px;
}

#back-to-login{
    color: black;
    text-decoration: none;
}