.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.no-items-found {
  color: #969696;
  font-size: 24px;
  font-weight: 700;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
